[Desktop Entry]
Version=1.0
Name=Blackcoin More
Exec=blackmore-qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitcoin128.png
MimeType=x-scheme-handler/blackcoin;
Categories=Finance;P2P;Network;Qt;
StartupWMClass=blackmore-qt
